<script type="text/javascript">
var window_height = $(window).height();
var margin_top = window_height/2-25;
$('#home_menu').css('margin-top', margin_top);
</script>
<div id="home_menu" class="row text-center">
	
	<a href="#/travellers" class="waves-effect  pink accent-1 btn col m3 offset-m2"><i class="material-icons left"></i>Travellers Wannabe ?</a>
	<a href="#/guides" class="waves-effect  blue darken-2 btn col m3 offset-m2"><i class="material-icons left"></i>Tour Guides Wannabe ?</a>

</div>

