<div ng-controller = "travellersController" class = "container">
	<div class = "row">
			{{err_password.msg}}
			<h3>Ready for your next adventure? register now!: </h3>
			<div class = "six columns"></div>
			<div class = "six columns">	
				<form ng-submit = "addTraveller()">
					Email: <input type = 'text' ng-model = "new_traveller.email"><br>
					User Name: <input type = 'text' ng-model = "new_traveller.username"><br>
					Password: <input type = 'password' ng-model = "new_traveller.password"><br>
					where is your next adventure ? 
					<input type = 'text' ng-model = "new_traveller.destination"><br>
					<button type = "submit">Register</button>
				</form>
			</div>
			<form ng-submit = "logintraveller()">
				Email: <input type = 'text' ng-model = "login.email"><br>
				Password: <input type = 'password' ng-model = "login.password"><br>
				<button type = "submit">Login</button>

			</form>

			<div>
				<h3>meet you fellow travellers</h3>
				<ul ng-repeat = "traveller in travellers">
					<li><a href="#/traveller/{{traveller._id}}">{{traveller.username}}</a></li>
					<li>{{traveller.destination}}</li>
				</ul>
			</div>

			
			
	</div>
</div>